openapi: 3.0.0
info:
  title: "Pincex Crypto Exchange API"
  description: "OpenAPI 3.0 specification for the Pincex Crypto Exchange REST API."
  version: "1.0.0"
servers:
  - url: "https://api.pincex.com/api/v1"
paths:
  /health:
    get:
      summary: "Health Check"
      description: "Returns the status of the API."
      responses:
        '200':
          description: "OK"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
  /market/prices:
    get:
      summary: "Get All Market Prices"
      description: "Returns current prices for all trading pairs."
      responses:
        '200':
          description: "List of market prices"
          content:
            application/json:
              schema:
                type: object
                properties:
                  prices:
                    type: array
                    items:
                      $ref: '#/components/schemas/MarketPrice'
  /market/history/{symbol}:
    get:
      summary: "Get Market History"
      description: "Returns historical market data for a trading pair."
      parameters:
        - name: "symbol"
          in: path
          required: true
          schema:
            type: string
        - name: "interval"
          in: query
          schema:
            type: string
            default: "1h"
        - name: "limit"
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: "Historical data"
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                  interval:
                    type: string
                  history:
                    type: array
                    items:
                      $ref: '#/components/schemas/Candle'
  /wallet/withdraw:
    post:
      summary: "Create Withdrawal Request"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawalRequest'
      responses:
        '200':
          description: "Withdrawal request created"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalRequest'
  /wallet/withdraw/{id}/approve:
    post:
      summary: "Approve a Withdrawal Request"
      parameters:
        - name: "id"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Withdrawal approved"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
  /wallet/broadcast/{id}:
    post:
      summary: "Broadcast Withdrawn Transaction"
      parameters:
        - name: "id"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Broadcast result"
          content:
            application/json:
              schema:
                type: object
                properties:
                  txid:
                    type: string
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Health:
      type: object
      properties:
        status:
          type: string
        time:
          type: string
          format: date-time
    MarketPrice:
      type: object
      properties:
        symbol:
          type: string
        price:
          type: number
        change_24h:
          type: number
        volume_24h:
          type: number
        high_24h:
          type: number
        low_24h:
          type: number
        updated_at:
          type: string
          format: date-time
    Candle:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        open:
          type: number
        high:
          type: number
        low:
          type: number
        close:
          type: number
        volume:
          type: number
    WithdrawalRequest:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        wallet_id:
          type: string
        asset:
          type: string
        amount:
          type: number
        to_address:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Approval:
      type: object
      properties:
        id:
          type: string
        request_id:
          type: string
        approver:
          type: string
        approved:
          type: boolean
        timestamp:
          type: string
          format: date-time
security:
  - BearerAuth: []
